In [1]:
import pandas as pd
import numpy as np

df1=pd.read_csv(r'C:\Users\majidmm\Documents\MTI and RC\SAMPLE AUDIT\OUTPUT_FILES\verified_infractions_first_check.csv')
df1 = df1[df1['root_cause'] == 'duplicate']
df1['Data']=df1['Data'].apply(lambda st: st[st.find("https://tt"):])
df1['Data']=df1['Data'].apply(lambda x: x[:32])

df1['inside_caseid']=df1['Data'].apply(lambda st: st[st.find("com/")+4:])
df1 = df1.rename(columns = {"case_id": "ShortId"}) 
df1.to_csv(r'C:\Users\majidmm\Documents\MTI and RC\SAMPLE AUDIT\OUTPUT_FILES\verified_duplicate_t1.csv', index = False)

df1

,ShortId,details,root_cause,tid,Data,Infraction,Additional_Details,Infraction1,Infraction2,First_Status,inside_caseid
26,313906744,"Delivery Station (Station Code, City, State): ...",duplicate,TBA222154217000,https://tt.amazon.com/0313908012,the tt as duplicate with https://tt.amazon.com...,NaN,NaN,NaN,NS,0313908012
48,313932169,"Delivery Station (Station Code, City, State): ...",duplicate,TBA029811960101,https://tt.amazon.com/0313933440,ing as duplicate of https://tt.amazon.com/0313...,NaN,NaN,NaN,NS,0313933440
84,313912485,"Delivery Station (Station Code, City, State): ...",duplicate,TBA028579793601,https://tt.amazon.com/0313911991,as duplicate of https://tt.amazon.com/031391199,NaN,NaN,NaN,NS,0313911991
112,313939497,Who reported the incident?: Customer / Witness...,duplicate,TBA024867236401,https://tt.amazon.com/0313937637,as duplicate of https://tt.amazon.com/031393763,NaN,NaN,NaN,NS,0313937637
120,313940043,"Delivery Station (Station Code, City, State): ...",duplicate,TBA027169214101,https://tt.amazon.com/0313939180,as duplicate of https://tt.amazon.com/031393918,NaN,NaN,NaN,NS,0313939180
...,...,...,...,...,...,...,...,...,...,...,...
3513,313626158,"Delivery Station (Station Code, City, State): ...",duplicate,TBA023312315801,https://tt.amazon.com/0313006405,g it with https://tt.amazon.com/031300640,NaN,NaN,NaN,NS,0313006405
3516,314351741,"Delivery Station (Station Code, City, State): ...",duplicate,TBA033906627701,e,ailabl,NaN,NaN,NaN,NS,
3524,314206771,"Delivery Station (Station Code, City, State): ...",duplicate,TBA033237630801,https://tt.amazon.com/0314208548,as duplicate of https://tt.amazon.com/031420854,NaN,NaN,NaN,NS,0314208548
3527,314320890,"Delivery Station (Station Code, City, State): ...",duplicate,TBA033523718001,e,ailabl,NaN,NaN,NaN,NS,
3543,313678524,"Delivery Station (Station Code, City, State): ...",duplicate,TBA028224166401,https://tt.amazon.com/0313673791,g with https://tt.amazon.com/031367379,NaN,NaN,NaN,NS,0313673791

In [2]:
# df1['inside_caseid']=df1['Data'].apply(lambda st: st[st.find("com/")+5:])
# df2 = df2.rename(columns = {"case_id": "ShortId"}) 
# # df1["inside_caseid"] = pd.to_numeric(df1["inside_caseid"],errors='coerce')
# df1["inside_caseid"] =df1["inside_caseid"].fillna('No data available')

# # df1["inside_caseid"]=df1["inside_caseid"].astype(int).astype(str)
# df1.to_csv(r'C:\Users\majidmm\Documents\MTI\duplicate_t1.csv', index = False)
# # df1.dropna()
# df1

In [3]:
df2=pd.read_csv(r'C:\Users\majidmm\Documents\MTI and RC\SAMPLE AUDIT\OUTPUT_FILES\verified_duplicate_t1.csv')
df2 = df2.rename(columns = {"inside_caseid":"case_id"}) 

df3=pd.read_csv(r'C:\Users\majidmm\Documents\MTI and RC\SAMPLE AUDIT\INPUT_FILES\audit_query.csv',usecols=('case_id','details','root_cause','tid'),encoding='ISO-8859-1')
# df3 = df3[df3['root_cause'] == 'Duplicate']


df2["case_id"] = pd.to_numeric(df2["case_id"],errors='coerce')
df3["case_id"] = pd.to_numeric(df3["case_id"],errors='coerce')

df4=df2.merge(df3,on='case_id',how='left')
# df6=pd.concat([df2, df3],join="inner")
df4['details_x']=df4['details_x'].astype(str)

df4['details_y']=df4['details_y'].astype(str)

df4['DAID_1']=df4['details_x'].apply(lambda st: st[st.find("(Transporter ID):")+17:st.find("Zip code of occurrence")])
df4['DAID_2']=df4['details_y'].apply(lambda st: st[st.find("(Transporter ID):")+17:st.find("Zip code of occurrence")])



df4['tid_Status']=np.where(df4['tid_x']==df4['tid_y'],'True','False')
df4['daid_Status']=np.where(df4['DAID_1']==df4['DAID_2'],'True','False')


df4.drop_duplicates(subset ="ShortId",keep = False, inplace = True) 


df4.to_csv(r'C:\Users\majidmm\Documents\MTI and RC\SAMPLE AUDIT\OUTPUT_FILES\verified_duplicate_t2.csv', index = False)
df4

,ShortId,details_x,root_cause_x,tid_x,Data,Infraction,Additional_Details,Infraction1,Infraction2,First_Status,case_id,details_y,root_cause_y,tid_y,DAID_1,DAID_2,tid_Status,daid_Status
0,313906744,"Delivery Station (Station Code, City, State): ...",duplicate,TBA222154217000,https://tt.amazon.com/0313908012,the tt as duplicate with https://tt.amazon.com...,NaN,NaN,NaN,NS,313908012.0,"Delivery Station (Station Code, City, State): ...",Positive Feedback,TBA222154217000,A1YQZK6CLI9SJO,A1YQZK6CLI9SJO,True,True
1,313932169,"Delivery Station (Station Code, City, State): ...",duplicate,TBA029811960101,https://tt.amazon.com/0313933440,ing as duplicate of https://tt.amazon.com/0313...,NaN,NaN,NaN,NS,313933440.0,"Delivery Station (Station Code, City, State): ...",Not a Tier Infraction,TBA029811960101,A2R05EX9UJZD6N,A2R05EX9UJZD6N,True,True
2,313912485,"Delivery Station (Station Code, City, State): ...",duplicate,TBA028579793601,https://tt.amazon.com/0313911991,as duplicate of https://tt.amazon.com/031391199,NaN,NaN,NaN,NS,313911991.0,"Delivery Station (Station Code, City, State): ...",Not a Tier Infraction,TBA028579793601,A3O0HBB96WPH9B,A3O0HBB96WPH9B,True,True
3,313939497,Who reported the incident?: Customer / Witness...,duplicate,TBA024867236401,https://tt.amazon.com/0313937637,as duplicate of https://tt.amazon.com/031393763,NaN,NaN,NaN,NS,313937637.0,Who reported the incident?: Customer / Witness...,T2 - Unsafe driving behavior - Property Damage,TBA024867236401,incident?: Customer / Witness Station Na...,incident?: Customer / Witness Station Na...,True,True
4,313940043,"Delivery Station (Station Code, City, State): ...",duplicate,TBA027169214101,https://tt.amazon.com/0313939180,as duplicate of https://tt.amazon.com/031393918,NaN,NaN,NaN,NS,313939180.0,nan,NaN,NaN,105768777,,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1408,313612482,Delivery Station (Station Code and City): DMI4...,duplicate,TBA021694592401,https://tt.amazon.com/0313147430,as duplicate of https://tt.amazon.com/031314743,NaN,NaN,NaN,NS,313147430.0,nan,NaN,NaN,A1IVWW1V5FXT13,,False,False
2273,312692563,"Delivery Station (Station Code, City, State): ...",duplicate,TBA019993132901,https://tt.amazon.com/0312691586,the dog and also the customer while customer t...,NaN,NaN,NaN,NS,312691586.0,nan,NaN,NaN,AAATT7359MFSR,,False,False
2274,313626158,"Delivery Station (Station Code, City, State): ...",duplicate,TBA023312315801,https://tt.amazon.com/0313006405,g it with https://tt.amazon.com/031300640,NaN,NaN,NaN,NS,313006405.0,nan,NaN,NaN,n/a,,False,False
2329,314206771,"Delivery Station (Station Code, City, State): ...",duplicate,TBA033237630801,https://tt.amazon.com/0314208548,as duplicate of https://tt.amazon.com/031420854,NaN,NaN,NaN,NS,314208548.0,"Delivery Station (Station Code, City, State): ...",Not a Tier Infraction,TBA033237630801,A1JVGNHZSKMH82,A1JVGNHZSKMH82,True,True
2384,313678524,"Delivery Station (Station Code, City, State): ...",duplicate,TBA028224166401,https://tt.amazon.com/0313673791,g with https://tt.amazon.com/031367379,NaN,NaN,NaN,NS,313673791.0,"Delivery Station (Station Code, City, State): ...",Not a Tier Infraction,TBA028224166401,A1B3GA1V1CWWE7,A1B3GA1V1CWWE7,True,True